*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Abel', sans-serif;
}
p{
    color:#837B7B;
}
#frozenHeader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:65px;
    z-index:999;
}
    #frozenHeader #headerContent{
        width:25%;
        margin:0 auto;
        position:relative;
        bottom:4em;
    }
        #frozenHeader #headerContent h1{
            width:50%;
            float:left;
            line-height:3em;
            font-size:1.4em;
        }
        #frozenHeader #headerContent a{
            margin-top:0.5em;
            width:50%;
            float:right; 
        }
    #frozenHeader #opaqueBar{
        background-color:black;
        opacity:0.20;
        height:65px;
    }
.buttonExternal{
    background-color:#3cb8f3;
    height:3em;
    color:#ffffff;
    text-decoration:none;
    text-align:center;
    line-height:3em;
    border-radius:0.3em;
}
#belowHeader{
    position:relative;
    width:80%;
    margin:0 auto;
    margin-top:8em;
}
#sectionHeader{
    font-size:2.5em;
    margin-left:0.5em;
    margin-bottom:1em;
    width:30%;
    border-bottom:1px dotted #837b7b;
}
.projectContainer{
    margin-top:1em;
    margin-bottom:5em;
    padding-left:1em;
    border-bottom:1px dotted #837b7b;
    padding-bottom:2em;
}
.bottomProject{
    border-bottom:0px;
}
.projImgContainer{
    width:40%;
    margin:0 auto;
    max-width:300px; 
}
.projImg{
    width:100%;
}
.projTitle{
    font-size:1.7em;
    margin-bottom:1em;
}
.projDetails{
    padding-left:1em;
    font-size:1.2em;
}
.projLink{
    padding:1em;
    position:relative;
    top:1em;
}
.techList{
    padding-left:2em;
}
    .techList li{
        color:#837b7b;
    }
#aboutContainer{
    background-color:#3cb8f3;
    padding:2em;
    height:240px;
}
#aboutContent{
    width:80%;
    margin:0 auto;
}
    #aboutContent h2{
        font-size:2.5em;
        padding-bottom:0.5em;
    }
#aboutPic img{
    float:left;
    width:15%;
    border-radius:150px;
}
#about{
    float:right;
    width:70%;
    font-size:1.2em;
}
    #about p{
        color:#000000;
    }
@media screen and (max-width:768px){
#frozenHeader #headerContent{
    width:100%;
    margin:0 auto;
    position:relative;
    bottom:4em;
}
    #frozenHeader #headerContent h1{
        width:50%;
        float:left;
        line-height:3em;
        font-size:1.4em;
        margin-left:0.2em;
    }
    #frozenHeader #headerContent a{
        margin-top:0.5em;
        width:6em;
        float:right; 
    }
#belowHeader{
    width:95%;
}
#aboutContainer{
    padding:0.5em;
    padding-bottom:10em;
}
#aboutContent{
    width:100%;
}
#aboutPic{
    width:30%;
    margin:0 auto;
}
#aboutContent h2{
    text-align: center;
}
#aboutPic img{
    width:100%;
    float:none;
    border-radius:20px;
}
#about{
    float:none;
    text-align: center;
    height:auto;
    width:90%;
    margin:0 auto;
}
}